@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-user-select: none;
  user-select: none;
  background: #f5f5f5;
  font-family: "Source Han Sans","Microsoft YaHei", "微软雅黑", "PingFang SC", Arial;
  margin: 0 auto;
  max-width: 750px;
  font-size: 14px;
  color: #333;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  touch-callout: none;
}

i, em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  color: #434343;
  text-decoration: none;
}

.m-header {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #d4237a;
  color: #fff;
  font-size: 20px;
  
}

.m-prolist .prolist-item {
  min-height: 100px;
  position: relative;
  background: #fff;
  margin-top: 10px;
  overflow: hidden;
}
.m-prolist .prolist-item .prolist-item-a {
  display: block;
  height: 100%;
}
.m-prolist .prolist-item .prolist-cover {
  float: left;
  width: 38%;
  background: #e9e9e9;
  position: relative;
}
.m-prolist .prolist-item .prolist-cover::after {
  content: '加载中...';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #d4237a
}
.m-prolist .prolist-item .prolist-cover img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 9;
}

.m-prolist .prolist-item .prolist-info {
  min-height: 126px;
}
.m-prolist .prolist-item .prolist-info .prolist-title {
  width: 56%;
  position: absolute;
  top: 10px;
  right: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  word-break: break-all;
  color: #333;
  line-height: 24px;
}
.m-prolist .prolist-item .prolist-info .prolist-title .jdico {
  display: inline-block;
  width: 18px;
  height: 14px;
  text-align: center;
  border: #d4237a 1px solid;
  color: #d4237a;
  line-height: 14px;
  font-size: 12px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom {
  position: absolute;
  width: 56%;
  bottom: 10px;
  right: 3%;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-grey {
  color: #939393;
  text-decoration: line-through;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price {
  color: #d4237a;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-left: 36px;
  margin-top: 2px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .int {
  font-size: 24px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-price .priceicon {
  width: 34px;
  height: 24px;
  display: inline-block;
  background: url(../images/m-qhico.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 5px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .prolist-coupon {
  width: 66px;
  height: 24px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background: url(../images/yhjbg.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.m-prolist .prolist-item .prolist-info .prolist-bottom .time-end{
  color: #939393;
  position: absolute;
  right: 0;
  bottom: 36px;
  font-size: 12px;
}

/*# sourceMappingURL=m.css.map */
